<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div>
  <div class="p1">
    <div class="p2" *ngIf="flag">
    Lets Create Your Paste ✍️
    </div>
    <div class="p3">
      <div class="p5">
      <mat-icon>person</mat-icon>
      <label style="font-size: 22px;">Paste author</label>
    </div>
    <label class="p4">
      <mat-icon>title</mat-icon>
      <label style="font-size: 22px;">Paste title</label>
    </label>
      </div>
      <div class="p6">
        <div class="p5">
          <input type="text" style="height: 20px; width:160px;" placeholder="Ravi teja" id="author" [(ngModel)]="author" [readonly]="!flag">
        </div>
        <div>
          <input type="text" style="height: 25px; margin-left: 100px;" id="title" [(ngModel)]="title" [readonly]="!flag">
        </div>
      </div><br>
      <div>
        <div style="display:flex; padding: 20px;">
      <mat-icon>content_paste</mat-icon>
      <label style="font-size: 22px;">Paste Your Paste</label>
    </div>
      <textarea rows="25" cols="160px" style="margin-left: 30px; border-radius: 5px; border: 2px solid black;" id="description" [(ngModel)]="description" [readonly]="!flag"></textarea><br>
      <button style="margin: 15px; margin-left: 50px; font-size:20px; background-color:darkorchid;
      color: white; height: 40px;" (click)="putdata()" *ngIf="flag" >Create Paste</button>
      </div>
  </div>
</div>